<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
{% include "C:/Users/Che Liu/PycharmProjects/dashboard/src/navbar.html" with active_tab='Notes'%}
<div class="container">
    <div class="form-group">
        <form method="POST" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p}}
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>